asgiref==3.6.0
beautifulsoup4==4.11.2
cmake==3.25.2
crispy-bootstrap5==0.7
Django==4.1.6
django-crispy-forms==1.14.0
django-jazzmin==2.6.0
django-richtextfield==1.6.1
more-itertools==9.0.0
Pillow==9.4.0
soupsieve==2.4
sqlparse==0.4.3
