asgiref==3.7.2
async-timeout==4.0.3
crispy-bootstrap5==2023.10
Django==4.2.7
django-appconf==1.0.5
django-cors-headers==4.3.0
django-crispy-forms==2.1
django-jazzmin==2.6.0
django-redis==5.4.0
django-richtextfield==1.6.1
django-select2==8.1.2
djangorestframework==3.14.0
more-itertools==10.1.0
Pillow==10.1.0
pytz==2023.3.post1
redis==5.0.1
sqlparse==0.4.4
typing_extensions==4.8.0
