{% load static %}
<!--favicon-->
<link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/png" />
<!--plugins-->
<link href="{% static 'plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<!-- loader-->


<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<link href="{% static 'css/icons.css' %}" rel="stylesheet">