{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock title %}</title>

<!--favicon-->
<link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/png" />
<!--plugins-->
<link href="{% static 'plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
<!-- loader-->

<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
<link href="{% static 'css/app.css' %}" rel="stylesheet">
<link href="{% static 'css/icons.css' %}" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>


</head>
<body class="bg-theme bg-theme2">
    <!--wrapper-->
    <div class="wrapper">

<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Pinaki Group</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'home' %}">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>
        
        {% for group in user.groups.all %}
        {% if group.name == "merchandiser" %}
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class="bx bx-grid-alt"></i>
                </div>
                <div class="menu-title">Merchandiser</div>
            </a>
            <ul>
                <li> <a href="/merchandiser/create/"><i class="bx bx-right-arrow-alt"></i>Add Merchandiser</a>
                </li>
                <li> <a href="{% url 'merchandiser_read' %}"><i class="bx bx-right-arrow-alt"></i>Merchandiser List</a>
                </li>
            </ul>
        </li>
                <li>
                    <a href="{% url 'buyer_read' %}">
                        <div class="parent-icon"><i class="lni lni-users"></i>
                        </div>
                        <div class="menu-title">Buyer</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'file_read' %}">
                        <div class="parent-icon"><i class='bx bx-file'></i>
                        </div>
                        <div class="menu-title">File</div>
                    </a>
                </li>
                <li>
                    <a href="/supplier/create/">
                        <div class="parent-icon"><i class='lni lni-cart-full'></i>
                        </div>
                        <div class="menu-title">Supplier</div>
                    </a>
                </li>

            {% elif group.name == "store" %}
                <li>
                    <a href="{% url 'category_read' %}">
                        <div class="parent-icon"><i class='bx bx-grid-alt'></i>
                        </div>
                        <div class="menu-title">Category</div>
                    </a>
                </li>

                <li>
                    <a href="{% url 'stock_read' %}">
                        <div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
                        </div>
                        <div class="menu-title">Stock</div>
                    </a>
                </li>
                <li>

                <li>
                    <a href="{% url 'unit_read' %}">
                        <div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
                        </div>
                        <div class="menu-title">Unit</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'remarks_read' %}">
                        <div class="parent-icon"><i class="fadeIn animated bx bx-comment-add"></i>
                        </div>
                        <div class="menu-title">Remarks</div>
                    </a>
                </li>

                <li>
                    <a href="{% url 'wo_read' %}">
                        <div class="parent-icon"><i class="lni lni-cart"></i>
                        </div>
                        <div class="menu-title">Work Order</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'storeRec_read' %}">
                        <div class="parent-icon"><i class='bx bx-cart'></i>
                        </div>
                        <div class="menu-title">Store Receiver</div>
                    </a>
                </li>
                <li>
                    <a href="{% url 'store_read' %}">
                        <div class="parent-icon"><i class="fadeIn animated bx bx-store-alt"></i>
                        </div>
                        <div class="menu-title">Store</div>
                    </a>
                </li>
                
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon"><i class='lni lni-spiner-solid'></i>
                        </div>
                        <div class="menu-title">Requisition</div>
                    </a>
                    <ul>
                        <li> <a href="{% url 'fabricr_read' %}"><i class="bx bx-right-arrow-alt"></i>Fabric Requisition</a>
                        </li>
                        <li> <a href="{% url 'ar_read' %}"><i class="bx bx-right-arrow-alt"></i>Access Requisition</a>
                        </li>
                    </ul>
                </li>

            {% else %}
            <li>
                <a href="{% url 'category_read' %}">
                    <div class="parent-icon"><i class='bx bx-grid-alt'></i>
                    </div>
                    <div class="menu-title">Category</div>
                </a>
            </li>
            <li>
                <a href="{% url 'stock_read' %}">
                    <div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
                    </div>
                    <div class="menu-title">Stock</div>
                </a>
            </li>

            <li>
                <a href="{% url 'unit_read' %}">
                    <div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
                    </div>
                    <div class="menu-title">Unit</div>
                </a>
            </li>
            <li>
                <a href="{% url 'remarks_read' %}">
                    <div class="parent-icon"><i class="fadeIn animated bx bx-comment-add"></i>
                    </div>
                    <div class="menu-title">Remarks</div>
                </a>
            </li>

            <li>
                <a href="{% url 'wo_read' %}">
                    <div class="parent-icon"><i class="lni lni-cart"></i>
                    </div>
                    <div class="menu-title">Work Order</div>
                </a>
            </li>
            <li>
                <a href="{% url 'store_read' %}">
                    <div class="parent-icon"><i class="fadeIn animated bx bx-store-alt"></i>
                    </div>
                    <div class="menu-title">Store</div>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bx bx-grid-alt"></i>
                    </div>
                    <div class="menu-title">Merchandiser</div>
                </a>
                <ul>
                    <li> <a href="/merchandiser/create/"><i class="bx bx-right-arrow-alt"></i>Add Merchandiser</a>
                    </li>
                    <li> <a href="{% url 'merchandiser_read' %}"><i class="bx bx-right-arrow-alt"></i>Merchandiser List</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="{% url 'buyer_read' %}">
                    <div class="parent-icon"><i class="lni lni-users"></i>
                    </div>
                    <div class="menu-title">Buyer</div>
                </a>
            </li>
            <li>
                <a href="{% url 'file_read' %}">
                    <div class="parent-icon"><i class='bx bx-file'></i>
                    </div>
                    <div class="menu-title">File</div>
                </a>
            </li>
            <li>
                <a href="/supplier/create/">
                    <div class="parent-icon"><i class='lni lni-cart-full'></i>
                    </div>
                    <div class="menu-title">Supplier</div>
                </a>
            </li>
                <li>
                    <a href="{% url 'storeRec_read' %}">
                        <div class="parent-icon"><i class='bx bx-cart'></i>
                        </div>
                        <div class="menu-title">Store Receiver</div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon"><i class='lni lni-spiner-solid'></i>
                        </div>
                        <div class="menu-title">Requisition</div>
                    </a>
                    <ul>
                        <li> <a href="{% url 'fabricr_read' %}"><i class="bx bx-right-arrow-alt"></i>Fabric Requisition</a>
                        </li>
                        <li> <a href="{% url 'ar_read' %}"><i class="bx bx-right-arrow-alt"></i>Access Requisition</a>
                        </li>
                    </ul>
                </li> 
            {% endif %}

        {% endfor %}

            {% comment %} <a href="https://codervent.com/dashtreme/documentation/index.html" target="_blank">
                <div class="parent-icon"><i class="bx bx-folder"></i>
                </div>
                <div class="menu-title">Documentation</div>
            </a> {% endcomment %}


    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->

        <!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative search-bar-box">
							<marquee behavior="" direction="">
								<h4 style="color:#FFFF22"class="my-4">Welcome to Pinaki Group</h4>
							</marquee>
						</div>
					</div>

					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#">	<i class='bx bx-search'></i>
								</a>
							</li>

							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">	<i class='bx bx-category'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-group'></i>
											</div>
											<div class="app-title">Teams</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-atom'></i>
											</div>
											<div class="app-title">Projects</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-shield'></i>
											</div>
											<div class="app-title">Tasks</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-notification'></i>
											</div>
											<div class="app-title">Feeds</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-file'></i>
											</div>
											<div class="app-title">Files</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-filter-alt'></i>
											</div>
											<div class="app-title">Alerts</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ user.profile.img_profile.url }}" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">{{request.user}}</p>
								<p class="designattion mb-0">{{ user.profile.designation }}</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/accounts/profile/"><i class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li><a class="dropdown-item" href="/accounts/profile/update/"><i class="bx bx-cog"></i><span>Settings</span></a>
							</li>
							<li><a class="dropdown-item" href="{% url 'home' %}"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
							</li>
							<li><a class="dropdown-item" href="#"><i class='bx bx-dollar-circle'></i><span>Reset Password</span></a>
							</li>
							{% comment %} <li><a class="dropdown-item" href="#"><i class='bx bx-download'></i><span>Reset Password</span></a>
							</li> {% endcomment %}
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="/accounts/logout/"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->



        <!--start page wrapper --> 
        {% block body %}
                
        {% endblock body %}
        <!--end page wrapper -->


		<!--start overlay-->
		<div class="overlay toggle-icon">
        </div>
        <!--end overlay-->



        <!--Start Back To Top Button--> 
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->




        <!--start footer-->
        <footer class="page-footer">
            <p>
                <span style="text-align:left;float:left">&copy; 2023 <a href="https://pinakigroup.com/" alt="Bootstrap Themes" target="_blank">Pinaki Group</a></span>
                <span class="mb-0"><i class="text-white" data-feather="mail"></i>Email: software.development@pinakigroup.com</span>
                <span class="hidden-phone" style="text-align:right;float:right">Powered by: <a href="https://www.linkedin.com/in/litonbairaggi" alt="Bootstrap Admin Templates" target="_blank">Liton</a></span>
            </p>
        </footer>
        <!--end footer-->

    </div>
    <!--end wrapper-->


    <!--start switcher-->
	<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<div class="d-flex align-items-center">
				<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>
			<hr/>
			<p class="mb-0">Gaussian Texture</p>
			<hr>
			<ul class="switcher">
				<li id="theme1"></li>
				<li id="theme2"></li>
				<li id="theme3"></li>
				<li id="theme4"></li>
				<li id="theme5"></li>
				<li id="theme6"></li>
			</ul>
			<hr>
			<p class="mb-0">Gradient Background</p>
			<hr>
			<ul class="switcher">
				<li id="theme7"></li>
				<li id="theme8"></li>
				<li id="theme9"></li>
				<li id="theme10"></li>
				<li id="theme11"></li>
				<li id="theme12"></li>
				<li id="theme13"></li>
				<li id="theme14"></li>
				<li id="theme15"></li>
			  </ul>
		</div>
	</div>
	<!--end switcher-->


    <!--start js-->

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--plugins-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
    <script src="{% static 'plugins/metismenu/js/metisMenu.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
    <script src="{% static 'plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>

    <script src="{% static 'plugins/chartjs/js/Chart.min.js' %}"></script>
    <script src="{% static 'plugins/chartjs/js/chartjs-custom.js' %}"></script>
    <script>
    $(document).ready(function() {
        $('#Transaction-History').DataTable({
            lengthMenu: [[6, 10, 20, -1], [6, 10, 20, 'Todos']]
        });
        } );
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <!--app JS-->
    <script src="{% static 'js/app.js' %}"></script>  
    <script>
    new PerfectScrollbar('.product-list');
    new PerfectScrollbar('.customers-list');
    </script>

    <script>
        
    $(document).ready(function() {
    $('#example').DataTable()
    });

    </script>


    <script>
        $(document).ready(function() {
            var table = $('#example2').DataTable( {
                lengthChange: false,
                buttons: [ 'copy', 'csv', 'excel', 'pdf', 'print']
            } );
        
            table.buttons().container()
                .appendTo( '#example2_wrapper .col-md-6:eq(0)' );
        } );
    </script>
    <!--end switcher-->




    <!--Django Select 2-->
    {{ form.media.js }}
</body>
</html>