{% load static %}
        <!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">Pinaki Group</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">

				
				<li>
					<a href="{% url 'home' %}">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Dashboard</div>
					</a>
				</li>
				
				{% for group in user.groups.all %}
				{% if group.name == "merchandiser" %}
						<li>
							<a href="{% url 'merchandiser_read' %}">
								<div class="parent-icon"><i class="lni lni-wheelchair"></i>
								</div>
								<div class="menu-title">Merchandiser</div>
							</a>
						</li>
						<li>
							<a href="{% url 'buyer_read' %}">
								<div class="parent-icon"><i class="lni lni-users"></i>
								</div>
								<div class="menu-title">Buyer</div>
							</a>
						</li>
						<li>
							<a href="{% url 'file_read' %}">
								<div class="parent-icon"><i class='bx bx-file'></i>
								</div>
								<div class="menu-title">File</div>
							</a>
						</li>
						<li>
							<a href="/supplier/create/">
								<div class="parent-icon"><i class='lni lni-cart-full'></i>
								</div>
								<div class="menu-title">Supplier</div>
							</a>
						</li>

					{% elif group.name == "store" %}
						<li>
							<a href="{% url 'category_read' %}">
								<div class="parent-icon"><i class='bx bx-grid-alt'></i>
								</div>
								<div class="menu-title">Category</div>
							</a>
						</li>
						<li>
							<a href="{% url 'stock_read' %}">
								<div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
								</div>
								<div class="menu-title">Stock</div>
							</a>
						</li>
						<li>
							<a href="{% url 'po_read' %}">
								<div class="parent-icon"><i class="lni lni-cart"></i>
								</div>
								<div class="menu-title">Work Order</div>
							</a>
						</li>
						<li>
							<a href="{% url 'storeRec_read' %}">
								<div class="parent-icon"><i class='bx bx-cart'></i>
								</div>
								<div class="menu-title">Store Receiver</div>
							</a>
						</li>
						<li>
							<a href="{% url 'store_read' %}">
								<div class="parent-icon"><i class="fadeIn animated bx bx-store-alt"></i>
								</div>
								<div class="menu-title">Store</div>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="has-arrow">
								<div class="parent-icon"><i class='lni lni-spiner-solid'></i>
								</div>
								<div class="menu-title">Requisition</div>
							</a>
							<ul>
								<li> <a href="{% url 'fabricr_read' %}"><i class="bx bx-right-arrow-alt"></i>Fabric Requisition</a>
								</li>
								<li> <a href="{% url 'ar_read' %}"><i class="bx bx-right-arrow-alt"></i>Access Requisition</a>
								</li>
							</ul>
						</li>
						<li>

					{% else %}
					<li>
						<a href="{% url 'category_read' %}">
							<div class="parent-icon"><i class='bx bx-grid-alt'></i>
							</div>
							<div class="menu-title">Category</div>
						</a>
					</li>
					<li>
						<a href="{% url 'stock_read' %}">
							<div class="parent-icon"><i class="fadeIn animated bx bx-store"></i>
							</div>
							<div class="menu-title">Stock</div>
						</a>
					</li>
					<li>
						<a href="{% url 'po_read' %}">
							<div class="parent-icon"><i class="lni lni-cart"></i>
							</div>
							<div class="menu-title">Work Order</div>
						</a>
					</li>
					<li>
						<a href="{% url 'store_read' %}">
							<div class="parent-icon"><i class="fadeIn animated bx bx-store-alt"></i>
							</div>
							<div class="menu-title">Store</div>
						</a>
					</li>
					<li>
						<a href="{% url 'merchandiser_read' %}">
							<div class="parent-icon"><i class="lni lni-wheelchair"></i>
							</div>
							<div class="menu-title">Merchandiser</div>
						</a>
					</li>
					<li>
						<a href="{% url 'buyer_read' %}">
							<div class="parent-icon"><i class="lni lni-users"></i>
							</div>
							<div class="menu-title">Buyer</div>
						</a>
					</li>
					<li>
						<a href="{% url 'file_read' %}">
							<div class="parent-icon"><i class='bx bx-file'></i>
							</div>
							<div class="menu-title">File</div>
						</a>
					</li>
					<li>
						<a href="/supplier/create/">
							<div class="parent-icon"><i class='lni lni-cart-full'></i>
							</div>
							<div class="menu-title">Supplier</div>
						</a>
					</li>
						<li>
							<a href="{% url 'storeRec_read' %}">
								<div class="parent-icon"><i class='bx bx-cart'></i>
								</div>
								<div class="menu-title">Store Receiver</div>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="has-arrow">
								<div class="parent-icon"><i class='lni lni-spiner-solid'></i>
								</div>
								<div class="menu-title">Requisition</div>
							</a>
							<ul>
								<li> <a href="{% url 'fabricr_read' %}"><i class="bx bx-right-arrow-alt"></i>Fabric Requisition</a>
								</li>
								<li> <a href="{% url 'ar_read' %}"><i class="bx bx-right-arrow-alt"></i>Access Requisition</a>
								</li>
							</ul>
						</li>
					<li>

					{% endif %}

				{% endfor %}

					{% comment %} <a href="https://codervent.com/dashtreme/documentation/index.html" target="_blank">
						<div class="parent-icon"><i class="bx bx-folder"></i>
						</div>
						<div class="menu-title">Documentation</div>
					</a> {% endcomment %}


			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->