{% extends 'base/base.html' %} 
{% block title %} AccessRequisition Bill No : {{ bill.billno }}{% endblock title %}
{% block body %} 
{% load crispy_forms_tags %}
{% load static %}		

<div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid #eeeeee00;">AccessRequisition Bill No : {{ bill.billno }}</div>

    <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
    
<form method="post">
    {% csrf_token %}

        <div class="bg"><br>
            <div id="printArea" class="bg">
                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr style="height: 1px;">
                            <td> 
                                <div class="split left">
                                    <p> TEXT INVOICE - AccessRequisition</p> 
                            </div>
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 160%; font-weight: bold;">PINAKI GROUP</span> <br>
                                <span style="font-size: 90%; font-weight: bold;">DEALERS IN : Products</span> <br>
                                <span style="font-size: 90%; font-weight: bold;">ADDRESS :</span> 29, Gareb-Newaz Avenue<br>Sector-11, Uttara, Dhaka-1230<br>
                                <span style="font-size: 90%; font-weight: bold;">EMAIL : info@pinakigroup.com</span> <br>

                                <div class="split left" style="margin-top: 15px; padding-bottom: 10px;">
                                    <div class="centered; width: 50%;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>Goods Issuer : </strong>{{ bill.store_receiver }}</span>
                                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>Goods Receiver : </strong>{{ bill.name }}</span> 
                                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>Order No : </strong>{{ bill.order_no }}</span>
                                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>Style No : </strong>{{ bill.style_no }}</span>
                                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>File No : </strong>{{ bill.file_no_ar }}</span>
                                            </div>
                                            <div class="col-md-6">
                                                <span style="font-size: 90%; padding-left: 250px;   display: block; text-align: left;"><strong>Line No : </strong>{{ bill.line_no }}</span>
                                                <span style="font-size: 90%; padding-left: 250px;   display: block; text-align: left;"><strong>Card No : </strong>{{ bill.card_no }}</span>
                                                <span style="font-size: 90%; padding-left: 250px;   display: block; text-align: left;"><strong>DATE : </strong>{{ bill.date }}</span>
                                                <span style="font-size: 90%; padding-left: 250px;   display: block; text-align: left;"><strong>Supply Qty : </strong>{{ bill.supply_qty }}</span>
                                            </div>
                                        </div>                                     
                                    </div>
                                </div>
                            </td><!-- Log on to codeastro.com for more projects -->
                        </tr>           
                        <tr>
                            <td><!-- Log on to codeastro.com for more projects -->
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; text-align: center;">ITEMS</td>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;SIZE</td>                                       
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">COLOR</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">UNIT</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 25%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ item.size }}</td>                                           
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.acces_color }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.uom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; padding-right:10px; padding-top: 15px;">
                                <span style="font-size: 90%; padding-left: 10px;   display: block; text-align: left;"><strong>Remarks : </strong>{{ bill.remarks }}</span>
                                <span style="font-weight: bold;">FOR COMPANY <br><br><br> Signature</span>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div class="billwrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            <a href="{% url 'ar_read' %}" class=" btn center btn-secondary">Go Back</a>
        </div><br>

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
    </script>

{% endblock body %}