{% extends 'base/index.html' %} 
{% block title %}create File{% endblock title %} 
{% block body %} 
{% load crispy_forms_tags %}
{% load static %}		

<!--start page wrapper -->
<div class="page-wrapper">
	<div class="page-content">
		<!--breadcrumb-->
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">Forms</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item">
							<a href="{% static 'javascript:;' %}">
								<i class="bx bx-home-alt"></i>
							</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Add New File</li>
					</ol>
				</nav>
			</div>
			<div class="ms-auto">
				<div class="btn-group">
					<button type="button" class="btn btn-light">Settings</button>
					<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
						<span class="visually-hidden">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
						<a class="dropdown-item" href="{% static 'javascript:;' %}">Action</a>
						<a class="dropdown-item" href="{% static 'javascript:;' %}">Another action</a>
						<a class="dropdown-item" href="{% static 'javascript:;' %}">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="{% static 'javascript:;' %}">Separated link</a>
					</div>
				</div>
			</div>
		</div>
		<!---end breadcrumb--->
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="ms-auto">
					<a href="{% url 'file_read' %}" class="btn btn-light radius-30 mt-2 mt-lg-0">
						<i class="bx bx-grid-alt"></i>File Table
					</a>
				</div>
						{% comment %} 
				<h6 class="mb-0 text-uppercase">Text Inputs</h6> {% endcomment %}
						
				<hr/>
				<div class="card">
					<div class="card-body">
						<form method="POST" class="row g-3" enctype="multipart/form-data">
							{% csrf_token %}	
								<div class="col-sm-6">
									<div class="controls">
										{{ form.file|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-6">
									<div class="controls">
										{{ form.buyer_name|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-2">
									<div class="controls">
										{{ form.abc|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-3">
									<div class="controls">
										{{ form.xyz|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-3">
									<div class="controls">
										{{ form.master_lc_sc|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-4">
									<div class="controls">
										{{ form.exp_date_of_delivery|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-1">
									<div class="controls">
										{{ form.po_no|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-1">
									<div class="controls">
										{{ form.style|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-1">
									<div class="controls">
										{{ form.sleve|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-1">
									<div class="controls">
										{{ form.size_range|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-2">
									<div class="controls">
										{{ form.quantity|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-2">
									<div class="controls">
										{{ form.fob_rate|as_crispy_field }}
									</div>
								</div><br>

								<div class="col-sm-2">
									<div class="controls">
										{{ form.amount|as_crispy_field }}
									</div>
								</div><br>
								<div class="col-sm-2">
									<div class="controls">
										{{ form.shipment_date|as_crispy_field }}
									</div>
								</div><br>

							<div class="form-actions">
								<button type="submit" class="btn btn-success">Save</button>
								<button type="reset" class="btn">Cancel</button>
							</div>
						</form>
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}										
								<div class="alert alert-danger" role="alert">
								{{error}}
								</div>
							{% endfor %}
						{% endfor %}
					{% endif %}
		
					{% if messages %}
						{% for message in  messages %}
							<div class="alert alert-{{message.tags}}" role="alert">
							{{message}}
							</div>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	<!--end row-->
	</div>
</div>
<!--end page wrapper -->

<script>
    // Get the dropdown field
    const abc = document.getElementById('id_abc');

    // Get the text input field
    const xyz = document.getElementById('id_xyz');

    // Add an event listener to the dropdown field
    abc.addEventListener('change', () => {
      // If the dropdown value is "choice1", show the text input field
      if (abc.value === 'deferred') {
        xyz.style.display = 'block';
      } else {
        xyz.style.display = 'none';
      }
    });
  </script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
	  $(document).ready(function() {
		  $('#id_quantity, #id_fob_rate').on('input', function() {
			  var quantity = parseFloat($('#id_quantity').val()) || 0;
			  var fob_rate = parseFloat($('#id_fob_rate').val()) || 0;
			  var amount = quantity * fob_rate;
			  $('#id_amount').val(amount.toFixed(2));
		  });
	  });
  </script>

{% endblock body %}