{% extends 'base/base.html' %}
{% block title %}home{% endblock title %}
{% block body %}
{% load static %}

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">

                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-6">

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #F54D39" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Categorys</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{name}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #9933FF " class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Items</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{billno}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #DD2026" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Supplier</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{supplier_name}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #F58E39 " class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Purchase Order</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{work_order}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #19A82A" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Store</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{lc}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #1F144D" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Merchandiser</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{office_id}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-12">

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #1023AD" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Accessories Requi</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{supply_qty}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card radius-10 overflow-hidden">
                                <div style="background-color: #A52A2A" class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p style="color: #FFFFFF" class="mb-0">Fabric Requi</p>
                                            <h5 style="color: #FFFFFF" class="mb-0">{{floor}}</h5>
                                        </div>
                                        <div class="ms-auto text-white">	<i class='bx bx-bulb font-30'></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="" id="w-chart7"></div>
                            </div>
                        </div>

                    </div>

                    <h6 class="mb-0 text-uppercase">Stock Table</h6>
                    <hr/>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example2" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Category</th>
                                            <th>Name</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in stocks %}
                                        <tr>
                                           <td>{{ data.id }}</td>
                                           <td>{{ data.category }}</td>  
                                           <td>{{ data.name }}</td>     
                                           <td>{{ data.quantity }}</td>                    
                                        </tr>
                                     {% endfor %}
                                     {% if not stocks %}
                                     <tr>
                                         <td colspan="10" class="text-center">No Data available</td>
                                     </tr>
                                     {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
				<!--end row-->

{% endblock body %}