{% extends 'base/index.html' %} 
{% block title %}user profile{% endblock title %} 
{% block body %} 
{% load crispy_forms_tags %}
{% load static %}	

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">User Profile</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">User Profilep</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-light">Settings</button>
							<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="container">
					<div class="main-body">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body"><br>

									<form method="POST" class="row g-3 panel panel-default" enctype="multipart/form-data">  
										{% csrf_token %}

										{{ u_form|crispy }}
										{{ p_form|crispy }}

										{% comment %} <div class="col-sm-12">
											<div class="controls">
												{{ p_form.user|as_crispy_field }}
											</div>
										</div><br>
										<div class="col-sm-12">
											<div class="controls">
												{{ p_form.email|as_crispy_field }}
											</div>
										</div><br>
					
										<div class="col-sm-12">
											<div class="controls">
												{{ p_form.full_name|as_crispy_field }}
											</div>
										</div><br>
					
										<div class="col-sm-12">
											<div class="controls">
												{{ p_form.img_profile|as_crispy_field }}
											</div>
										</div><br>

										<div class="col-sm-4">
											<div class="controls">
												{{ p_form.phone|as_crispy_field }}
											</div>
										</div><br>
										<div class="col-sm-4">
											<div class="controls">
												{{ p_form.designation|as_crispy_field }}
											</div>
										</div><br>
										<div class="col-sm-4">
											<div class="controls">
												{{ p_form.dob|as_crispy_field }}
											</div>
										</div><br> {% endcomment %}

										<div class="align-middle">
											<button type="submit" class="btn btn-success">Save changes</button>
											<button type="reset" class="btn">Cancel</button>
										</div>
										
									</form><br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->


{% endblock body %}        