{% extends 'base/index.html' %} 
{% block title %}user profile{% endblock title %} 
{% block body %} 
{% load crispy_forms_tags %}
{% load static %}	

		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">User Profile</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">User Profilep</li>
							</ol>
						</nav>
					</div>
					<div class="ms-auto">
						<div class="btn-group">
							<button type="button" class="btn btn-light">Settings</button>
							<button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
								<a class="dropdown-item" href="javascript:;">Another action</a>
								<a class="dropdown-item" href="javascript:;">Something else here</a>
								<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
							</div>
						</div>
					</div>
				</div>
				<!--end breadcrumb-->
				<div class="container">
					<div class="main-body">
						<div class="row">
							<div class="col">
								<div class="card">
									<div class="card-body">
										<div class="d-flex flex-column align-items-center text-center">

											<img class="img-thumbnail" src="{{ user.profile.img_profile.url }}" alt="profile-image" height="120" width="120">
											<div class="mt-3">
												<h2>{{user.username}}</h2><br>
												<h4 class="mb-1">{{ user.profile.designation }}</h4>
												{% comment %} <p class="font-size-sm">Bay Area, San Francisco, CA</p>
												<button class="btn btn-light">Follow</button>
												<button class="btn btn-light">Message</button> {% endcomment %}
											</div>
										</div>
										<hr class="my-4" />
										<ul class="list-group list-group-flush">
											<div class="row mb-3">
												<div class="col-sm-3">
													<h6 class="mb-0">Full Name</h6>
												</div>
												<div class="col-sm-9">
													{{user.profile.full_name}}
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-sm-3">
													<h6 class="mb-0">Email</h6>
												</div>
												<div class="col-sm-9">
													{{user.email}}
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-sm-3">
													<h6 class="mb-0">Phone</h6>
												</div>
												<div class="col-sm-9">
													{{ user.profile.phone }}
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-sm-3">
													<h6 class="mb-0">Designation</h6>
												</div>
												<div class="col-sm-9">
													{{ user.profile.designation }}
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-sm-3">
													<h6 class="mb-0">Date of Birth </h6>
												</div>
												<div class="col-sm-9">
													{{ user.profile.dob }}
												</div>
											</div>
										</ul>
										<a href="/accounts/profile/update/" class="btn btn-success radius-30 mt-2 mt-lg-0">Edit Profile</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->


{% endblock body %}        